@media screen, projection
{
  /* Default Label Properties */
  .label { background: url('/images/pt_BR/sprite-labels.jpg') no-repeat; }
	
  /* Slideshow Label Properties */	
  .label-slide { background: url('/images/pt_BR/sprite-slide.png') no-repeat; }
	
  /* Boxes Properties */
  .infoBox { background: url('/images/pt_BR/sprite-smallbox.jpg') no-repeat; }

  /* Button Properties */
  #actionStartButtonContainer { background: transparent url('/images/pt_BR/button_intern.png') no-repeat; }
  #actionStartButtonContainer .glow { background: url('/images/pt_BR/button_intern_over.png') no-repeat; }
  #bigActionButtonContainer { background: transparent url('/images/pt_BR/button_extern.png') no-repeat; }
  #bigActionButtonContainer .glow { background: transparent url('/images/pt_BR/button_extern_over.png') no-repeat; }
}